.about {
  display: flex;
  align-items: center;
  margin-bottom: 18rem;
  opacity: 80%;
}

.about__title {
  font-weight: bold;
}

.about__text {
  line-height: 1.5rem;
  background-color: rgb(65, 65, 65);
  padding: 0 2rem 0 2rem;
  border-radius: 6px;
  /* opacity: 80%; */
}

.salt-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.salt-link:hover {
  color: rgb(212, 170, 85);
}

.tech {
  line-height: 1rem;
  color: rgb(212, 170, 85);
  background-color: white;
  padding: 0 2rem 0 2rem;
  margin: 0 2rem 0 2rem;
  width: 55rem;
  border-radius: 6px;
}

.tech__title {
  font-weight: bold;
  margin-bottom: 0;
  padding: 0.8rem;
  color: white;
  background-color: rgb(212, 170, 85);
}

.tech__languages-title,
.tech__tools-title {
  margin-bottom: 0.5rem;
}

.tech__languages,
.tech__tools {
  color: rgb(65, 65, 65);
  line-height: 0.5rem;
  /* font-weight: bold; */
  margin-top: 0;
}

/* .tech__tools {
  line-height: 0.5rem;
  font-weight: bold;
} */

.tech__text {
  display: flex;
  justify-content: center;
  color: rgb(65, 65, 65);
}

.tech__frontend-list,
.tech__backend-list {
  line-height: 5px;
}

.tech__frontend-list-item {
  margin: 1rem 0 1rem 0;
  width: 10rem;
}

.tech__languages-title,
.tech__frontend-title,
.tech__backend-title,
.tech__tools-title {
  color: rgb(65, 65, 65);
  text-decoration: underline;
  text-decoration-color: rgb(212, 170, 85);
  font-weight: bold;
}

.RLP {
  width: 70%;
  border-radius: 50%;
  /* opacity: 80%; */
}
