.contact {
  background-color: rgb(65, 65, 65);
  margin: 0 20rem 40rem 20rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
  opacity: 80%;
  border-radius: 6px;
}

.contact__title {
  text-align: center;
  font-weight: bold;
}

.contact__text {
  text-align: center;
  line-height: 1.5rem;
  opacity: 80%;
}

.contact__email-salt {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.contact__email-salt:hover {
  color: rgb(212, 170, 85);
}

.contact__email {
  color: rgb(212, 170, 85);
  text-decoration: none;
}

.salt-link {
  color: rgb(212, 170, 85);
  font-weight: bold;
  text-decoration: none;
}

.salt-link:hover {
  color: white;
}
