.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar__item {
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin: 1rem 1rem;
  width: 6rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.925);
}

.navbar__item:hover {
  color: rgb(212, 170, 85);
}
